# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Maven target folder
/target/

# VS Code settings
.vscode/

# IDEs
*.iml
.idea/
*.ipr
*.iws

# OS specific
.DS_Store
Thumbs.db

# Tomcat
*.log
*.tmp
*.bak
*.swp
